Debug/
Debug_ANSI/
Release/
Release_ANSI/
ipch/
.vs/
DiscImageCreator.VC.*
DiscImageCreator.vcxproj.user
DiscImageCreator/buildDateTime.h

# generated linux obj files
DiscImageCreator/*.o
DiscImageCreator/_external/*.o
DiscImageCreator/_linux/*.o

# linux binary
DiscImageCreator/DiscImageCreator
